/****************************
GENERAL
****************************/
#wrappr{
 /*max-width is related to width. but instead of width, max-width that it can be smaller for mobile devices/tablets.*/
 max-width: 940px;
 /*Margin o is for all sides*/
 margin: 0 auto;
 /*Margin first one is top and bottom. second one is left and right.*/
 padding: 0 5%;
}
#logo {
    text-align: center;
    margin: 0;
}

a{
    text-decoration: none;
}
img {
    max-width: 100%;
}
/****************************
HEADER
****************************/
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'sarala', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}
h2{
  font-size: 0.75em;
   /*1st value is for top.2nd valuee is for left and right.3rd value is for the bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/***************************
NAVGATION
***************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}
nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/***************************
FOOTER
***************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
}

.social-media-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
/***************************
PAGE PORTFOLIO
***************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
   float: left;
   width: 45%;
   margin: 2.5%;
   background-color: lightgrey;
   color: #bdc3c7;
}

body {
    background-color:red;
}